<mat-toolbar color="primary">
  <span>
    PhoneStore
  </span>
  <span class="space-buttons"></span>
  <!-- <span>{{getUsername}}</span> -->

<button *ngIf="! isLoggedIn()" routerLink="/login" mat-raised-button color="primary">
  Login
</button>
<button *ngIf="isLoggedIn()" (click)="logout()" mat-raised-button color="warn">
  Logout
</button>
</mat-toolbar>

<mat-toolbar color="primary" *ngIf="isLoggedIn()">
  <button mat-raised-button color="primary" routerLink="/">Home</button>
  <button *ngIf="isAdmin()" mat-raised-button color="primary" routerLink="/addNewPhone">Add Phone</button>
  <button *ngIf="isAdmin()" mat-raised-button color="primary" routerLink="/showPhoneDetails">Show Phone Details</button>
</mat-toolbar>