<div class="container mt-5">
    <div class="card p-2">

        <div class="row">
            <div class="col-6">
                <form #phoneForm="ngForm" (ngSubmit)="addPhone(phoneForm)">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Phone name</mat-label>
                        <input matInput 
                            [(ngModel)] ="phone.phoneName"
                            name="phoneName"
                            placeholder="Enter your phone name">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Phone description</mat-label>
                        <input matInput 
                            [(ngModel)]="phone.phoneDescription"
                            name="phoneDescription"
                            placeholder="Enter your phone description">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Phone discounted price</mat-label>
                        <input matInput 
                            [(ngModel)]="phone.phoneDiscountedPrice"
                            name="phoneDiscountedPrice"
                            placeholder="Enter your phone discounted price">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Phone actual price</mat-label>
                        <input matInput 
                            [(ngModel)]="phone.phoneActualPrice"
                            name="phoneActualPrice"
                            placeholder="Enter your phone actual price">
                    </mat-form-field>

                    <div align="end">
                        <button mat-stroked-button 
                                color="primary" style="margin-right: 3px;">Cancel</button>
                        <button mat-stroked-button 
                                color="primary">Add Phone</button>
                    </div>
                </form>
            </div>

            <div class="col-6">
                <div>

                    <div class="dropzone" 
                            appDrag
                            (files)="fileDroped($event)">
                        <div class="text-wrapper">
                            <div class="centered">
                                Drag and drop your file or <a (click)="selectFile.click()" class="browse-button">browse</a>
                                a file
                            </div>
                        </div>
                    </div>

                    <input type="file" multipe value="select" 
                    #selectFile style="display: none;"
                    (change)="onFileSelected($event)">
                </div>

                <div class="mt-5">
                    <div class="row">
                        <mat-grid-list cols="4" rowHeight="1:1">
                            <mat-grid-tile *ngFor="let file of phone.phoneImages; let i = index;">
                                <div style="position: relative;">
                                    <span class="btn-image-remove" (click)="removeImages(i)">x</span>
                                    <img [src]="file.url" width="100px" height="100px">
                                </div>
                            </mat-grid-tile>
                          </mat-grid-list>
                    </div>
                </div>
           
            </div>
        </div>



    </div>
</div>