<div class="container mt-5">
    <div class="row">
        <div class="col-6">
            <div class="card image-container p-3">
                <img [src]="phone!.phoneImageSet[selectedPhoneIndex].url" class="phone-zoom-image">
            </div>
            <div class="mt-2">
                <mat-grid-list cols="3" gutterSize="10" rowHeight="1:1">
                    <mat-grid-tile *ngFor="let file of phone?.phoneImageSet; let i = index;" (click) = "changeIndex(i)" style="border: 1px solid lightgray;">
                        <img [src]="file.url" height="100px">
                    </mat-grid-tile>
                  </mat-grid-list>
            </div>
           
        </div>
        <div class="col-6">
            <div class="phone-information">
                <div class="mt-3">
                    <h2>{{phone?.phoneName}}</h2>
                </div>
                <div class="mt-3">
                    Description: <br>
                    {{phone?.phoneDescription}}
                </div>
                <div class="mt-3">
                    <b>{{phone?.phoneActualPrice | currency: 'VND':'symbol':'1.0-1'}}</b>&nbsp;&nbsp;<b style="text-decoration: line-through;">{{phone?.phoneActualPrice | currency: 'VND':'symbol':'1.0-1'}}</b>
                </div>
                <div class="mt-5 text-center">
                    <button mat-raised-button color="warn" style="width: 200px;" (click)="buyPhone(phone!.phoneId)">Buy Now</button>
                </div>
            </div>
        </div>
    </div>
</div>
