<div class="container mt-5">
    <mat-grid-list cols="4" rowHeight="3:5" gutterSize="10">
        <mat-grid-tile *ngFor="let phone of phoneDetails">
            <div class="row p-5">
                <div class="image-container">
                    <img class="home-page-phone-image" [src]="phone.phoneImageSet[0].url">
                </div>
                <div class="mt-3">
                    <p><b>{{phone.phoneName}}</b></p>
                </div>
                <div class="mt-2">
                    <p style="white-space: inherit; height: 40px;width: 288px; overflow: hidden;text-overflow: ellipsis;">{{phone.phoneDescription}}</p>
                </div>
                <div class="mt-2">
                    <p><b>{{phone.phoneDiscountedPrice | currency: 'VND': 'symbol':'1.0-1'}}</b> &nbsp; <b style="text-decoration: line-through;">{{phone.phoneActualPrice | currency: 'VND':'symbol':'1.0-1'}}</b></p>
                </div>
                <div class="mt-2">
                    <button type="button" mat-raised-button color="warn" (click)="showPhoneViewDetail(phone.phoneId)">View Details</button>
                </div>
            </div>

        </mat-grid-tile>
    </mat-grid-list>
</div>